[submodule "roles/role-ansible-pull"]
	path = roles/role-ansible-pull
	url = https://github.com/stenwt/role-ansible-pull
[submodule "roles/role-auto-apply-updates"]
	path = roles/role-auto-apply-updates
	url = https://github.com/stenwt/role-auto-apply-updates
[submodule "roles/role-epel"]
	path = roles/role-epel
	url = https://github.com/goozbach-ansible/role-epel
[submodule "roles/role-yum-google-chrome"]
	path = roles/role-yum-google-chrome
	url = https://github.com/stenwt/role-yum-google-chrome.git
[submodule "roles/role-centos7-multimedia"]
	path = roles/role-centos7-multimedia
	url = https://github.com/stenwt/role-centos7-multimedia.git
[submodule "roles/ansible-ssh-hardening"]
	path = roles/ansible-ssh-hardening
	url = https://github.com/dev-sec/ansible-ssh-hardening.git
